@mixin flex-column($align-items: center) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
}

$image-size: 35px;

.chatbar {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 15px;
  border: 1px solid rgb(95, 121, 116);
  border-top: 0;
  border-left: 0;
  width: 20%;
  @include flex-column(flex-start);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.chatbar-image {
  width: $image-size;
  height: $image-size;
  border-radius: 50%;
  margin-right: 5px;
}

.chatbar-chat {
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: rgb(241, 241, 241);
  }

  &.checked {
    background-color: rgb(125, 159, 153);
    border-bottom: 1px solid rgb(125, 159, 153);
  }
}

.chat-name {
  margin-left: 5px;
}