@mixin nav-text() {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

$height-nav-panel: 45px;
$image-size: 30px;

body {
  position: fixed;
  right: 0;
  left: 0;
  top: $height-nav-panel;
}

.nav-panel {
  position: fixed;
  top: 0;
  width: 100%;
  height: $height-nav-panel;
  background-color: rgb(95, 121, 116);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  padding-bottom: 3px;
}

.nav-friend {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-text {
  @include nav-text();
  cursor: pointer;

  &:hover {
    color: rgb(46, 66, 62);
  }

  &.div {
    padding-left: 30px;

    &:first-child {
      padding-left: 0;
    }
  }

  &.logo {
    font-size: 20px;
    cursor: default;

    &.logo:hover {
      color: white;
    }
  }

}

.nav-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin-top: 1px;
}