@mixin flex-column($align-items: center) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
}
$image-size: 35px;

.sidebar {
  font-size: 15px;
  border: 1px solid rgb(95, 121, 116);
  border-top: 0;
  border-right: 0;
  width: 20%;
  @include flex-column(flex-start);
  padding-top: 15px;
}
.sidebar-members {
  margin-left: 15px;
  align-self: flex-start;
  font-weight: 700;
}
.sidebar-image {
  width: $image-size;
  height: $image-size;
  border-radius: 50%;
  margin-right: 5px;
}
.sidebar-list {
  @include flex-column(flex-start);
  margin-top: 8px;
  width: 100%;
}
.sidebar-user {
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  cursor: pointer;
  width: 100%;
}
.sidebar-user:hover {
  background-color: rgb(241, 241, 241);
}
.user-name {
  margin-left: 5px;
}
